<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 为了让 Bootstrap 开发的网站对移动设备友好，确保适当的绘制和触屏缩放，需要在网页的 head 之中添加 viewport meta 标签，如下所示： -->
<!-- width 属性控制设备的宽度。假设您的网站将被带有不同屏幕分辨率的设备浏览，那么将它设置为 device-width 可以确保它能正确呈现在不同设备上。 -->
<!-- initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放。 -->
<!-- 在移动设备浏览器上，通过为 viewport meta 标签添加 user-scalable=no 可以禁用其缩放（zooming）功能。 -->
<meta name="viewport"
	content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
<title>日语五十音学习</title>
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<!-- 工具集 -->
<script src="/js/MyUtil.js"></script>
<!-- 前后端交互集 -->
<script src="/js/myAjax.js"></script>
<!-- 五十音处理器 -->
<script src="/js/FiftyMachine.js"></script>
<!-- 监听器集 -->
<script src="/js/myListener.js"></script>

<style type="text/css">
.mydiv {
	border: 1px solid gray
}
</style>
<!-- 测试用，后删 -->
<script type="text/javascript">
	function test1() {
		var str = "hello world! 你好";
		var msg = new SpeechSynthesisUtterance(str);
		console.log(msg);
		window.speechSynthesis.speak(msg);
	}
</script>
<!-- 在页面加载前及加载后 要进行的初始化操作 -->
<script type="text/javascript">
	//创建一个五十音处理机
	var myMachine = new FiftyMachine();
	//初始化方法
	function init() {
		//从后端获取五十音图,并载入新建的五十音处理机中
		getFiftyKana(function(data){
			myMachine.init(data);
		});
	}
	//调用初始化
	init();
	//页面加载后要进行的操作
	$(function() {
		
	});
</script>

</head>
<body>
	<div class="container mydiv">
		<h1>日语五十音学习</h1>
		<!-- 		菜单 -->
		<ul class="nav nav-tabs">
			<li class="active"><a>工具</a></li>
			<li><a>下载</a></li>
		</ul>
		<div class="row">
			<input type="radio" name="selectType" value="Hirag" checked="checked" />平假名
			<input type="radio" name="selectType" value="Katak" />片假名
		</div>
		<div class="row" id="question">a</div>
		<div class="row">
			<textarea id="answer"></textarea>
		</div>
	</div>
</body>
</html>