<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 为了让 Bootstrap 开发的网站对移动设备友好，确保适当的绘制和触屏缩放，需要在网页的 head 之中添加 viewport meta 标签，如下所示： -->
<!-- width 属性控制设备的宽度。假设您的网站将被带有不同屏幕分辨率的设备浏览，那么将它设置为 device-width 可以确保它能正确呈现在不同设备上。 -->
<!-- initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放。 -->
<!-- 在移动设备浏览器上，通过为 viewport meta 标签添加 user-scalable=no 可以禁用其缩放（zooming）功能。 -->
<meta name="viewport"
	content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
<!-- 通知IE以最高级别的可用模式显示内容,强制ie浏览器使用最高版本内核 -->
<meta http-equiv="X-UA-Compatible" content="edge" />
<!-- 用Meta标签代码让360双核浏览器默认极速模式打开网站不是兼容模式 -->
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>日语五十音学习</title>
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<style type="text/css">
body {
	font-family: 微软雅黑
}

.div-border {
	border: 1px solid gray
}

.col-center-block {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	width: auto;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.center2 {
	margin: 0 auto;
	display: block;
	float: none;
}

.text-center {
	text-align: center;
}
</style>
<!-- 工具集 -->
<script src="/js/MyUtil.js"></script>
<!-- 五十音处理器 -->
<script src="/js/FiftyMachine.js"></script>
<!-- 全局变量集 -->
<script src="/js/globalVar.js"></script>
<!-- 前后端交互ajax集 -->
<script src="/js/myAjax.js"></script>
<!-- 监听器集 -->
<script src="/js/myListener.js"></script>
<!-- 在页面加载前及加载后 要进行的初始化操作 -->
<script type="text/javascript">
	// 测试用，后删
	function test1() {
		var str = "hello world! 你好";
		var msg = new SpeechSynthesisUtterance(str);
		console.log(msg);
		window.speechSynthesis.speak(msg);
	}
	//初始化方法
	function init() {
		//从后端获取五十音图,并载入新建的五十音处理机中
		getFiftyKana(function(data) {
			myMachine.init(data);
		});
	}
	//调用初始化
	init();
	//页面加载后要进行的操作
	$(function() {
	});
</script>

</head>
<body>
	<div class="container div-border">
		<h1 class="center">
			日语五十音学习<sup>v1.0</sup>
		</h1>
		<!-- 		菜单 -->
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active">开始</a></li>
			<li class="nav-item"><a class="nav-link"></a></li>
			<li class="nav-item"><a class="nav-link">下载</a></li>
		</ul>
		<div class="row center" id="div-checkboxs">
			<label><input type="checkbox" id="checkbox1" value="1"> 五十音平假名</label>
			<label><input type="checkbox" id="checkbox2" value="10"> 五十音片假名</label>
			<label><input type="checkbox" id="checkbox3" value="100" > 浊音平假名</label>
			<label><input type="checkbox" id="checkbox4" value="1000" > 浊音片假名</label>
			<label><input type="checkbox" id="checkbox5" value="10000" checked="checked"> 拗音平假名</label>
			<label><input type="checkbox" id="checkbox6" value="100000" > 拗音片假名</label>
		</div>
		<div class="form-group row">
		<div class="col-md-3 "></div>
		<div class="col-md-1 "></div>
			<label for="selectScope">level： </label>
		<div class="col-md-1">
				<select	id="selectScope" class="form-control">
						<option value="100">快（1s）</option>
						<option value="150" selected="selected">及格（1.5s）</option>
						<option value="200">慢（2s）</option>
						<option value="300">很慢（3s）</option>
						<option value="10000">废了（100s）</option>
				</select>
			</div>
			<div class="col-md-4">
			<input class="btn" type="button" id="btn-begin" value="开始" /></div>
		</div>
		<div class="row center text-center" id="question" style="font-size: 20px">请点击开始按钮<br/>写出假名对应的罗马音,超时或写错会添加到队列后重新问答</div>
		<div class="row center ">
			<textarea id="answer"></textarea>
		</div>
		<div class="row " id="gradeDiv"></div>
	</div>
</body>
</html>